# ! means add an exception to the above rule
*.o
*.dll
*_files
!software_installation_files
!FW891syllabus_files
!lec3_files
!lec4_files
.vscode
*.html
!software_installation.html
!FW891syllabus.html
!lec3.html
!lec4.html
*.exe
.Rproj.user
FW-Bayes.Rproj
.Rhistory
_test_*