# ! means add an exception to the above rule
*.o
*.dll
*_files
!software_installation_files
!FW891syllabus_files
!Rubric_files
!lec*_files
.vscode
*.html
!software_installation.html
!Rubric.html
!FW891syllabus.html
!lec*.html
*.exe
.Rproj.user
FW-Bayes.Rproj
.Rhistory
_test_*
*_bruna*
